body {
    font-family: 'Roboto', arial;
}

img {
    max-width:100%;
}

/********** HEADER ITEMS **********/
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1D3557;
    color: #F9FAF8;
}

.headertext {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}

.headerlinks {
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: #F9FAF8;
    padding: 8px;
    margin-right: 20px;
    font-size: 20px;
}

/********** TITLE ITEMS **********/
.title {
    background-color: #457B9D;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2px;
    padding: 5px;
}

.titleright {
    border-style: solid;
    border-color: lightslategray;
    display: inline-flex;
}

.titleright img {
    width: 300px;
    height: 200px;
}

/********** PROJECTS **********/
.p1 {
    text-align: center;
}

.projects img {
    border: 5px solid #555;
    margin-top: 10px;
}

/********** COURSE **********/
.projects {
    display: flex;
    justify-content: space-evenly;
}

.proj {
    display: flex;
    flex-direction: row;
}

.projinfo {
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

/********** FOOTER **********/
.footer {
    background-color: #1D3557;
    color: #E5E7EB;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3882F6;
}

h5 {
    text-align: center;
}
