body {
    font-family: 'Roboto', arial;
}

/********** HEADER ITEMS **********/
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    border-style: solid;
    border-color: red;
    color: #F9FAF8;
}

.headertext {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    border-style: solid;
    border-color: red;
}

.headerlinks {
    border-style: solid;
    border-color: red;
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: #F9FAF8;
    padding: 8px;
    margin-right: 20px;
    font-size: 20px;
}

/********** TITLE ITEMS **********/
.title {
    background-color: #1F2937;
    border-style: solid;
    border-color: red;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titleheader {
    border-style: solid;
    border-color: red;
}

.titletext {
    border-style: solid;
    border-color: red;
}

.titleright {
    border-style: solid;
    border-color: blue;
    display: inline-flex;
}

.titleright img {
    width: 300px;
    height: 200px;
}

/********** CONTENT **********/
.personalprojects {
    border-style: solid;
    border-color: blue;
}

.p1 {
    border-style: solid;
    border-color: green;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #3882F6;
}

.projects img {
    border: 5px solid #555;
}